<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Course ID</th>
            <th>Student Number</th>
            <th>Grade</th>
        </tr>

        {% for id, course_id, student_number, grade in grades %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ course_id }}</td>
            <td>{{ student_number }}</td>
            <td>{{ grade }}</td>
        </tr>
        {% endfor %}

    </table>
</div>

<div>
    <h1 style="text-align: center;">Can't edit this :(!</h1>
</div>